.footer {
  height: 50px;
  background-color: #ebb95a;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ebb95a;
  padding-left: 50px;
  padding-right: 50px;
}

.center-text {
  text-align: center;
}

.right-text {
  text-align: right;
}

.transparent-layout {
  background: transparent !important; /* Обеспечиваем прозрачность */
}
