.footer {
  height: 100px;
  background-color: #ebb95a;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #ebb95a;
}

.center-text {
  text-align: center;
}

.right-text {
  text-align: right;
}
