@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@400;500;600&display=swap");

.carousel-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 500px; /* Установите желаемую высоту карусели */
  background-color: black;
}

.carousel-container {
  width: 100%;
  max-width: 1400px; /* Установите максимальную ширину карусели */
}

.carousel-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.carousel-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-right: 20px;
}

.carousel-topic {
  font-size: 50px;
  font-weight: bold;
  color: white;
  vertical-align: top;
  font-style: Lexend;
}

.carousel-subtext {
  font-size: 30px;
  vertical-align: middle;
  color: white;
  font-style: Lexend;
}

.carousel-button {
  align-self: flex-start;
  margin-top: 100px;

  font-style: Lexend;
}

.carousel-image {
  max-width: 50%;
  max-height: 100%;
  object-fit: contain;
  float: inline-end;

  margin-top: -150px;
}
