@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@400;500;600&display=swap");

.carousel-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 500px;
  background-color: #0c0b0d;
}

.carousel-container {
  width: 85%;
  padding-top: 50px;
}

.carousel-item {
  display: flex;
  flex-direction: r;
  justify-content: space-between;
  align-items: center;
  height: 400px;
  padding: 0 10%;
}

.carousel-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  max-width: 60%;
}

.carousel-topic {
  font-size: 50px;
  font-weight: 700;
  color: white;
  vertical-align: top;
  font-style: Lexend;
}

.carousel-subtext {
  font-size: 30px;
  vertical-align: middle;
  color: white;
  font-style: Lexend;
}

.carousel-button {
  font-style: Lexend;
  border-radius: 3px;
  background-color: #c69235;
}

.carousel-image {
  max-width: 60%;
  object-fit: contain;
  float: inline-end;
  margin-top: -235px;
}
