.main-cards {
  background: linear-gradient(to bottom, #0c0b0d, #000000);
}

.main-cards-header {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  padding: 10px 0px;
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 10px;
}

.main-cards-container {
  display: flex;
  justify-content: space-around;
  padding: 0 2%;
  padding-bottom: 50px;
  perspective: 1400px; /* Перспектива для 3D-эффекта */
}

.main-card {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 15px hsla(39, 100%, 65%, 0.4);
  max-width: 350px;
  max-height: 220px;
  transform-style: preserve-3d; /* Для поддержки 3D-трансформаций */
  transition: transform 0.2s ease-in-out; /* Плавное возвращение в исходное состояние */
}

.main-card-content {
  display: flex;
  flex-direction: column;
}

.main-card-icon {
  font-size: 50px;
  color: black;
  align-self: center;
}

.main-card-text {
  display: flex;
  flex-direction: column;
}

.main-card-text h3 {
  display: flex;
  font-size: 20px;
  font-weight: 600;
  font-style: Lexend;
  align-self: center;
}

.main-card-text p {
  display: flex;
  font-size: 16px;
  color: #6c757d;
  font-style: Lexend;
  text-align: center;
}
